.import-json {
  main,
  &__content {
    margin-bottom: 1em;
  }

  &__btn-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    button {
      color: #fff;
      background-color: #337ab7;
      border: 1px solid #2e6da4;
      border-radius: 4px;
      cursor: pointer;
      padding: 6px 12px;
      font-size: 14px;
    }
  }

  &__result {
    margin: 40px 10px;
  }

  footer {
    color: darkblue;
  }
}
